<mat-toolbar color="primary">  
    <span>oODOot &nbsp;</span><mat-icon class="material-icons color_green">done_all</mat-icon>
</mat-toolbar>

<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="40px">
    <div fxFlex="45" class="sec1" fxFlex.xs="45">
        <app-todo-form (updateTasks)="updateTasks($event)"></app-todo-form>
    </div>
    <div fxFlex="55" class="sec2" fxFlex.xs="55">
        <app-tasks (changeTaskStatus)="changeTaskStatus($event)" [tasks]="tasks"></app-tasks>
    </div>
    
</div>